*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: aquamarine;
    padding: 25px;
}
button{

    color:  white;
    background-color: black;
}
.footer{

    background-color: bisque;
    height: 40px;
    width: 100%;
    text-align: center;
    
}